<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<center>
    {{wrong}}
    <form action="/changedpassword" method="post">
        <h1>Enter Old Password: <input type="password" name="old"></h1>
        <h1>Enter New Password: <input type="text" name="new"></h1>
        <h1>Enter Old Password: <input type="password" name="newpwd"></h1>
        <input type="submit" value="Change Password">
        <br><br><br>b
        <a href="/dashboard">Go Back</a>
    </form>
</center>
</body>
</html>