<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Opening Menu</title>
</head>
<body>
    <h1 align="center"> Choose from the below options</h1>

    <form action="/signup" method="post" >
        <center>
                    </br>
        </br>
    <input align="center" type="submit" value="Create an Account" style="font-size: 20px; padding: 20px 30px;"/>
        </center>
    </form>
    <form action="/login" method="post">
        <center>
        </br>
        </br>
        <input align="center" type="submit" value="Sign in" style="font-size: 20px; padding: 20px 30px;"/>
        </center>
    </form>

</body>
</html>