<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dhoti</title>
</head>
<body>
<form action="/executive/update_measurements/{{garment}}/{{executive_id}}/{{user_id}}/{{order_id}}" method="post">
    <label>Measurements: </label><br>
<div>
    Leg Height: <input type="number" name="leg_height" placeholder="in(cm)" required><br>
    Hip:  <input type="number" name="hip" placeholder="in(cm)" required><br>
</div>
    <input type="submit" value="Submit">
</form>
</body>
</html>