<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign in</title>
</head>
<body>
<a href="/"><input type="submit" value="Home"></a>
<a href="/tailor"><input type="submit" value="Sign in as tailor"></a>
<a href="/users"><input type="submit" value="Sign in as Customer"></a>
<a href="/executive"><input type="submit" value="Sign in as Executive"></a>
<form action="/executive/validate_executive" method="post">
    <input type="number" name="contact" placeholder="Enter your Number">
    <input type="password" name="password" placeholder="Enter your password">
    <input type="submit" value="Login">
</form>
<a href="/executive/sign_up">Register as executive</a>



</body>
</html>