<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
</head>
<body>
<a href="/users/home/{{user_id}}"><input type="submit" value="Home"></a>
<a href="/users/profile/{{user_id}}"><input type="submit" value="Profile"></a>
<a href="/users/orders/{{user_id}}"><input type="submit" value="orders"></a>
<a href="/users/logout/{{user_id}}"><input type="submit" value="logout"></a>
<center>
    <h2>Your order details:</h2>
    Your Order number is {{order_id}}
    Our executive will reach you soon.


<h2>Thank You for ordering</h2>
<a href="/users/home/{{user_id}}"><input type="submit" value="Continue Shopping"></a>

</center>
</body>
</html>