<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Address</title>
</head>
<body>
<form action="/add_address_cust/{{temp_orderid}}/{{choice}}/{{customer_id}}" method="post">
  <input type="text" name="cust_name" placeholder="Enter your Name" required>
  <input type="text" name="address" placeholder="Enter your address" required>
  <input type="tel" name="contact" placeholder="Enter your contact NUmber" required>
    <input type="submit" value="Add Address">


</form>
</body>
</html>