<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<a href="/"><input type="submit" value="Home"></a>
<a href="/tailorsignin"><input type="submit" value="Sign in as tailor"></a>
<a href="/customer_sign_in"><input type="submit" value="Sign in as Customer"></a>

<form action="/cust_sign_up" method="post">
    <input type="text" name="name" placeholder="Enter your Name">
    <input type="number" name="customer_contact" placeholder="Enter your contact number">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Register">
</form>
<h3>already have an account? <a href="/customer_sign_in">Click here to sign in</a> </h3>
</body>
</html>