<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tailor Sign IN</title>
</head>
<body>
<a href="/"><input type="submit" value="Home"></a>
<a href="/tailorsignin"><input type="submit" value="Sign in as tailor"></a>
<a href="/customer_sign_in"><input type="submit" value="Sign in as Customer"></a>
<form action="/validate_tailor" method="post">
    <input type="number" name="tailor_contact" placeholder="Enter your Number">
    <input type="password" name="tailor_password" placeholder="Enter your password">
    <input type="submit" value="Login">
</form>
<a href="/tailor_sign_up">Create an Account</a>

</form>

</body>
</html>