<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Orders</title>
</head>
<body>

<div>
    <a href="/tailor/home/{{tailor_id}}"> <input type="submit", value="home"></a>
    <a href="/tailor/profile/{{tailor_id}}"> <input type="submit", value="profile"></a>
    <a href="/tailor/orders/{{tailor_id}}"> <input type="submit", value="orders"></a>
    <a href="/tailor/completed_orders/{{tailor_id}}"> <input type="submit", value="Complted Orders"></a>
    <a href="/tailor/logout/{{tailor_id}}"> <input type="submit", value="Log Out"></a>

</div>
</body>
</html>